body {
    /*background-color: #95C8FC;*/
}

li {
    list-style: none;
}

input {
    grid-area: input;
    display: none;
}

label {
    grid-area: label;
    cursor: pointer;
    font-size: 1.6em;
    line-height: 45px;
}

nav {
    max-height: 0;
    overflow: hidden;
    position: absolute;
}

input:checked~nav {
    max-height: 20vh;
    z-index: 5;
}

nav a {
    text-decoration: none;
    color: white;
    font-family: Montserrat;
    line-height: 30px;
    border-radius: 10px;
    font-size: 1.2em;
    background-color: #8F2756;
    min-width: 15vw;
}

nav a:hover {
    color: grey;
    background-color: transparent;
    text-decoration: underline;
}

nav a:active {
    color: darkgray;
    background-color: transparent;
    text-decoration: underline;
}

h1 {
    font-family: Montserrat;
    font-size: 1.5em;
    color: black;
    margin: auto;
    text-align: center;
}

#boat {
    max-width: 270px;
    margin-top: 90px;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    opacity: 1;
    position: absolute;
}

#circle {
    width: 290px;
    height: 290px;
    background-color: grey;
    opacity: 0.2;
    border-radius: 50%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.opacity {
    animation: appear 2s linear forwards;
}

@keyframes appear {
    100% {
        opacity: 0.2;
    }
}

img {
    width: 325px;
}

#how {
    background-image: url(images/backgound1.png);
    background-repeat: no-repeat;
}

h1 {
    color: white;
}

#textHow {
    color: white;
    font-family: Montserrat;
    padding: 1em;
}

footer {
    background-color: #8F2756;
    border-radius: 30px;
    width: 120px;
    height: 4vh;
    margin-bottom: 5px;
    margin: auto;
    text-align: center;
}

footer a {
    text-decoration: none;
    font-family: Montserrat;
    color: white;
}


/*desktop style*/

@media only screen and (min-width:481px) {
    nav {
        text-align: left;
    }
    nav li {
        display: block;
        background-color: #8F2756;
        border-radius: 30px;
        width: 180px;
        margin-bottom: 5px;
    }
    nav {
        max-height: 35vh;
        min-width: 200px;
        position: absolute;
        display: flex;
        z-index: 15;
    }
    nav a {
        font-size: 1em;
        font-weight: 600;
        line-height: 35px;
        margin-left: 15px;
    }
    nav a:hover {
        color: grey;
    }
    label {
        display: none;
    }
    #boat {
        max-width: 600px;
        margin-top: 22vh;
        z-index: -1;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        opacity: 1;
        position: absolute;
    }
    #circle {
        width: 653px;
        height: 653px;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
}
