body {
    margin-left: 0;
}


/*/////////////////MOBILE NAVIGATION//////////////////*/

li {
    list-style: none;
}

input {
    display: none;
}

label {
    cursor: pointer;
    font-size: 10vw;
    line-height: 45px;
    margin-left: 10px;
}

nav {
    max-height: 0;
    overflow: hidden;
    position: absolute;
}

input:checked~nav {
    max-height: 20vh;
    z-index: 5;
}

nav a {
    text-decoration: none;
    color: white;
    font-family: Montserrat;
    line-height: 30px;
    border-radius: 10px;
    font-size: 1.2em;
    background-color: #8F2756;
    min-width: 15vw;
}

nav a:hover {
    color: grey;
    background-color: transparent;
    text-decoration: underline;
}

nav a:active {
    color: darkgray;
    background-color: transparent;
    text-decoration: underline;
}


/*/////////MOBILE PROJECT PAGE///////////////*/

#logoGradient {
    width: 49vw;
    margin-left: 25vw;
}

h1 {
    font-family: Montserrat;
    font-size: 1.5em;
    color: white;
    margin: auto;
}

h2 {
    font-family: Montserrat;
    font-size: 1.1em;
    color: white;
    text-align: center;
    margin-top: 3vh;
}

#logoTransparent {
    position: absolute;
    z-index: 25;
    width: 18vw;
    top: 103vh;
    left: 65vw;
}

.float {
    animation: boatFloats infinite 3s forwards;
}

@keyframes boatFloats {
    50% {
        transform: translateY(-1vw);
        transition-timing-function: ease-in-out;
    }
}

img {
    width: 100vw;
}

#how {
    background-image: url(images/background1.png);
    background-repeat: no-repeat;
    overflow: hidden;
    width: 90vw;
    margin-left: 3vw;
    margin-bottom: 3vh;
    position: relative;
    max-height: 90vh;
}

#textHow {
    color: white;
    font-family: Montserrat;
    padding: 1em;
    font-size: 1em;
}

footer {
    background-color: #8F2756;
    border-radius: 30px;
    width: 120px;
    height: 4vh;
    margin-bottom: 5px;
    margin: auto;
    text-align: center;
}

footer a {
    text-decoration: none;
    font-family: Montserrat;
    color: white;
}

#intro {
    font-family: Montserrat;
    font-size: 5vw;
    margin-left: 2vw;
}


/*//////////////////MOBILE INDEX////////////////////////////////*/

#gradientName {
    width: 49vw;
    margin-left: 32vw;
}

#elipse {
    width: 45vw;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40%;
    left: 0;
    right: 0;
}

#whiteBoat {
    animation: boatFLoats infinite 3s forwards;
    position: absolute;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55%;
    left: 0;
    right: 0;
}

#mosaic {
    width: 100vw;
}

h3 {
    font-family: Montserrat;
    font-size: 7vw;
    text-align: center;
}

.description {
    font-family: Montserrat;
    text-align: left;
    padding-left: 10vw;
    padding-right: 10vw;
    font-size: 5.5vw;
}


/*//////////////////desktop style FOR PROJECT PAGE/////////////////////*/

@media only screen and (min-width:666px) {
    #im1 {
        width: 40vw;
        grid-area: im1;
        margin-bottom: 0;
    }
    #logoTransparent {
        position: absolute;
        left: 5vw;
        top: 57vh;
        z-index: 25;
        width: 10vw;
    }
    #logoGradient {
        width: 15vw;
        grid-area: grad;
        margin-left: 0;
    }
    #intro {
        grid-area: intro;
        width: 20vw;
        font-size: 1.3vw;
    }
    #how {
        grid-area: how;
        width: 30vw;
        height: 100vh;
        margin-left: 0;
        margin-bottom: 0;
        position: relative;
    }
    h1 {
        margin-left: 2em;
        margin-top: 8vh;
    }
    #textHow {
        width: 25vw;
        font-size: 1.1em;
    }
    #im2 {
        grid-area: im2;
        width: 20vw;
        margin-left: 2vw;
    }
    #im3 {
        grid-area: im3;
        width: 20vw;
    }
    #im4 {
        grid-area: im4;
        width: 20vw;
    }
    footer {
        grid-area: foot;
        margin: auto;
        display: none;
    }
    /*//////////DESKTOP STYLE FOR INDEX////////////*/
    #mosaic {
        width: 50vw;
    }
    #elipse {
        width: 30vw;
        position: absolute;
        margin-left: 10vw;
        margin-top: 10vw;
        left: 0;
        right: 0;
    }
    #whiteBoat {
        width: 25vw;
        margin-left: 12vw;
        margin-top: 20vw;
        left: 0;
        right: 0;
    }
    #gradientName {
        position: absolute;
        width: 15vw;
        margin-left: 80vw;
    }
    h3 {
        font-size: 2em;
        padding-left: 5vw;
    }
    .description {
        font-family: Montserrat;
        text-align: left;
        font-size: 1.5vw;
        padding-left: 5vw;
    }
    #text {
        margin-left: 50%;
        margin-top: -45vw;
        padding-right: 10vw;
    }
    /*//////////DESKTOP NAVIGATION/////////////////*/
    nav li {
        background-color: #8F2756;
        border-radius: 30px;
        width: 145px;
        text-align: center;
        display: inline-block;
    }
    nav {
        max-height: 35vh;
        min-width: 200px;
        grid-area: navBar;
    }
    #grid {
        display: grid;
        grid-gap: 10px;
        grid-template-areas: "navBar navBar navBar grad grad" "im1 im1 intro how how" "im2 im3 im4 how how" ". foot foot how how";
    }
    label {
        display: none;
    }
}
